html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Zain', sans-serif;
    background-color: #f4f4f4;
}

button{
    font-family: 'Zain', sans-serif;
}

#diy-title{
    font-size: 40px;
}

#diy-name{
    font-size: 20px;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw; 
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
    background-color: #9C9E80;
}

#info-container {
    background-color: yellow;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(80, 81, 67, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#center-content{
    display: flex;
    background-color: greenyellow;
    padding: 5px;
    height: 90%;
    width: 90%;
    justify-content: center;
    align-items: center;
}


#data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    background-color: red;
    box-shadow: 5px 5px 15px rgba(156, 158, 128, 05);
    border-radius: 10px;
    height: 90%;
    width: 70%;

}
#materials-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    background-color: blue;
    box-shadow: 5px 5px 15px rgba(156, 158, 128, 05);
    border-radius: 10px;
    height: 90%;
    width: 30%;
}


#post-bttn{
    border-radius: 10px;
    border-color: transparent;
    font-size: 30px;
}