* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    :root {
      --primary-color: #B68036;
      --secondary-color: #C47457;
      --button-color: #A64C34;
      --button-hover: #F3CEB1;
      --text-color: #EFDFBB;
      --input-border: #CB9F7C;
      --container-bg: #E5E9E1; 
    }

    body {
      background: linear-gradient(
          135deg,
          rgba(196, 116, 87, 0.7),
          rgba(102, 28, 31, 0.7),
          rgba(166, 76, 52, 0.7)
        );
      background-size: cover;
      font-family: "Zain", sans-serif;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

.outer-container {
  background: var(--container-bg);
  border-radius: 20px;
  width: 90%;
  max-width: 1200px;
  height: auto; 
  min-height: 500px; 
  overflow: hidden;
  box-shadow: 0 8px 32px #722F37;
  display: flex;
  flex-wrap: wrap; 
}

    .left-pane,
    .right-pane {
      flex: 1;
      flex-basis: 50%;
      min-width: 350px;
      padding: 40px;
    }

    .left-pane {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 500px;
      background-color:rgba(102, 28, 31, 0.9);
    }

    .right-pane {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      background: linear-gradient(
          135deg,
          rgba(196, 116, 87, 0.5),
          rgba(102, 28, 31, 0.5),
          rgba(166, 76, 52, 0.5)
        ),
        url('../images/autumn-background.jpg') no-repeat center center;
      
      background-size: 100% 100%; 
      background-repeat: no-repeat;
    }

    form {
      border-radius: 20px;
      padding: 30px 20px;
      color: var(--text-color);
      text-align: center;
      margin-bottom: 20px;
      max-width: 450px;
      /*box-shadow: 0 8px 32px #C47457;*/
      background-color:rgba(196, 116, 87, 0.5);
    
    }
    
    form h2 {
      font-size: 2rem;
      margin-bottom: 20px;
      font-weight: 800;
      font-style: normal;
    }
    
    form label {
      display: block;
      text-align: left;
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 500;
    }
    
    form input {
      width: 100%;
      background: transparent;
      border: none;
      border-bottom: 2px solid var(--input-border);
      padding: 10px 5px;
      margin-bottom: 20px;
      font-size: 1rem;
      color: var(--text-color);
    }
    
    form input:focus {
      outline: none;
    }
    
    form button {
      width: 100%;
      padding: 15px;
      margin-top: 10px;
      border: none;
      border-radius: 30px;
      background: var(--secondary-color);
      color: var(--text-color);
      font-size: 1.1rem;
      font-weight: 600;
      cursor: pointer;
      transition: background 0.4s;
    }
    
    form button:hover {
      background: var(--button-hover);
      color: #722F37;
    }

    .create-user {
      display: block;
      text-align: center;
      color: #E7BE89;
      text-decoration: none;
      font-weight: bold;
    }
    
    .create-user:hover {
      text-decoration: underline;
      color: #F3CEB1;
    }
    
    h4{
      color: #E7BE89;
    }

    @media (max-width: 768px) {
      .outer-container {
        flex-direction: column;
      }
    }